.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.row {
    display: flex;
    gap: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: 2px solid var(--absent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    transition: background-color 0.15 ease;
}

.cell-correct {
    background-color: var(--correct);
    border-color: var(--correct);
}

.cell-present {
    background-color: var(--present);
    border-color: var(--present);
}

.cell-absent {
    background-color: var(--absent);
    border-color: var(--absent);
}

.cell:not(:empty) {
    animation: pop 0.1s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}